body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh;
    margin: 0; */
    background-color: #f0f0f0;
}

.game-container {
    text-align: center;
}

#drawingCanvas {
    border: 1px solid black;
    background-color: #ffffff;
}

#scoreDisplay {
    margin-top: 10px;
    font-size: 30px;
}

.button-container {
    margin-top: 20px;
}

.button-container button,
.button-container a {
    /* display: block; */
    margin: 5px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button-container a:hover,
.button-container button:hover {
    background-color: #0056b3;
}
