body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    width: 100%;
    max-width: 600px; /* 最大サイズを設定 */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#drawingCanvas {
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: #ffffff;
    touch-action: none; /* タッチ操作時のブラウザのデフォルト動作を無効化 */
}

.button-container {
    margin-top: 20px;
}

.button-container button,
.button-container a {
    margin: 5px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button-container a:hover,
.button-container button:hover {
    background-color: #0056b3;
}
